<section class="section_features">
        <div class="features_component">
          <div class="w-layout-grid features_list">
            {% for block in section.blocks %}
            <div id="w-node-_9170edae-6646-4751-ef96-a38ca2c959e3-2bf9746f" class="features_item">
              {% if block.settings.icon %}
              <div class="layout282_item-icon-wrapper"><img src="{{ block.settings.icon | image_url: width: 64 }}" loading="lazy" alt="" class="image"></div>
              {% endif %}
              <div class="layout282_item-text-wrapper">
                <div class="text-size-medium-21">{{ block.settings.text }}</div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </section>

{% schema %}
{
  "name": "Home Features",
  "max_blocks": 4,
  "settings": [],
  "blocks": [
    {
      "type": "feature",
      "name": "Feature",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Icon"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Text",
          "default": "Feature text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Home Features"
    }
  ]
}
{% endschema %}
