{% comment %}
  Section: Legal Content
  Descrição: Conteúdo principal para páginas legais com sidebar de navegação
{% endcomment %}

<section id="politica-privacidade" class="section_politica-privacidade">
  <div class="padding-global">
    <div class="container-large">
      <div class="padding-section-medium-2">
        <div class="legal2-content_component">

          {%- comment -%} Sidebar de navegação {%- endcomment -%}
          <div data-w-id="21cbb8a1-2562-6bd9-de77-683d708c42ba" class="legal2-content_sidebar">
            <div data-w-id="21cbb8a1-2562-6bd9-de77-683d708c42bb" class="legal2-content_sidebar-heading">
              <h3 class="text-style-allcaps">{{ section.settings.sidebar_title }}</h3>
              <div class="legal2-content_accordion-icon w-embed">
                <svg width="100%" height="100%" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M2.55806 6.29544C2.46043 6.19781 2.46043 6.03952 2.55806 5.94189L3.44195 5.058C3.53958 4.96037 3.69787 4.96037 3.7955 5.058L8.00001 9.26251L12.2045 5.058C12.3021 4.96037 12.4604 4.96037 12.5581 5.058L13.4419 5.94189C13.5396 6.03952 13.5396 6.19781 13.4419 6.29544L8.17678 11.5606C8.07915 11.6582 7.92086 11.6582 7.82323 11.5606L2.55806 6.29544Z" fill="currentColor"></path>
                </svg>
              </div>
            </div>

            <div id="w-node-_21cbb8a1-2562-6bd9-de77-683d708c42bf-29199e5b" class="margin-top margin-xsmall">
              <div data-w-id="21cbb8a1-2562-6bd9-de77-683d708c42c0" class="legal2-content_link-content">

                {%- comment -%} Links da sidebar {%- endcomment -%}
                {% for block in section.blocks %}
                  {% if block.type == 'sidebar_link' %}
                    <div class="legal2-content_link-wrapper is-h2">
                      <a href="{{ block.settings.link_url }}" class="legal2-content_link {% if block.settings.is_current %}current{% endif %} w-inline-block">
                        <div fs-toc-element="link">{{ block.settings.link_text }}</div>
                      </a>
                      <div fs-toc-element="ix-trigger" class="legal2-content_h-trigger"></div>
                    </div>
                  {% endif %}
                {% endfor %}

              </div>
            </div>
          </div>

          {%- comment -%} Conteúdo principal {%- endcomment -%}
          <div id="w-node-_21cbb8a1-2562-6bd9-de77-683d708c42cd-29199e5b" class="max-width-large">
            <div fs-toc-element="contents" class="text-rich-text-2 w-richtext">
              {{ section.settings.page_content }}
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Legal Content",
  "settings": [
    {
      "type": "text",
      "id": "sidebar_title",
      "label": "Título da Sidebar",
      "default": "Legal"
    },
    {
      "type": "richtext",
      "id": "page_content",
      "label": "Conteúdo da Página",
      "default": "<h2>Heading 2</h2><p>Conteúdo da política de privacidade aqui...</p>"
    }
  ],
  "blocks": [
    {
      "type": "sidebar_link",
      "name": "Link da Sidebar",
      "settings": [
        {
          "type": "text",
          "id": "link_text",
          "label": "Texto do Link",
          "default": "Política de Privacidade"
        },
        {
          "type": "url",
          "id": "link_url",
          "label": "URL do Link"
        },
        {
          "type": "checkbox",
          "id": "is_current",
          "label": "Página Atual",
          "default": false
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Legal Content",
      "blocks": [
        {
          "type": "sidebar_link",
          "settings": {
            "link_text": "Política de Privacidade",
            "link_url": "/pages/politica-de-privacidade",
            "is_current": true
          }
        },
        {
          "type": "sidebar_link",
          "settings": {
            "link_text": "Termos de Uso",
            "link_url": "/pages/termos-de-uso"
          }
        }
      ]
    }
  ]
}
{% endschema %}
